.search_container {
    display: flex;
    align-self: center;
    margin: 0 auto;
}

.search_container input {
    line-height: 20px;
    width: 400px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.search_container button {
    line-height: 20px;
}