.header {
    display: flex;
    width: 1170px;
    max-height: 70px;
    margin: 0 auto;
    background-color: #0073d9;
}

.header img {
    width: 150px;
    height: 70px;
    margin-left: 40px;
    z-index: 1;
}

