.block_choice {
    display: flex;
}

.block_choice button {
    margin: 20px 5px;
    background-color: #1767e1;
    line-height: 30px;
    width: 90px;
    border-radius: 2px;
    border: none;
}

.section_sort {
    width: 25%;
    background-color: #65acff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

.select_choice select {
    width: 200px;
    background-color: #1767e1;
    padding: 3px;
    margin: 0 auto 20px;
}

.block_choice button:hover {
    background-color: #355c8b;
}